<div id="<%= dom_id comment %>">
  <p>
    <strong>Event:</strong>
    <%= comment.event_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= comment.author_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

</div>
